/*body{
    background-color: tomato;
}*/

.cursor-pointer {
    cursor: pointer;
}
.hover-invert:not(.active):hover {
    color: white;
    background: black;
}
img{
    max-height: 500px;
}
.container{

    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
.active{
    background-color:goldenrod;
}
   .bg{
       background-color: lightsalmon;
   }


